section.content
  h2.content__title.
    Revelaciones - Taller de revelado a color
  include tab-switcher.pug
div.cta-wrapper
  a.cta.js-hover(href="https://www.eventbrite.es/e/entradas-revelaciones-taller-de-revelado-a-color-43217405423" target="_blank")
    span.cta__text Sign me up!
  div.cta__square.js-bg

ul.coords__list
  li.coords__item
    |24-25
    br
    |March
    br
    |2018

  li.coords__item
    a(href="https://www.google.es/maps/place/MADE+Makerspace/@41.3730516,2.1390873,17z/data=!3m1!4b1!4m5!3m4!1s0x12a4a2e4dc2b5ebd:0x1de1dbcc11d6cda9!8m2!3d41.3730516!4d2.141276" target="_blank").
      @Made

