div.slideshow
  ul.slideshow__list
    li.slideshow__item
      img(src="https://instagram.fmad8-1.fna.fbcdn.net/vp/73fe36f648468ae8757b3d5ec119c401/5B7421B0/t51.2885-15/e35/18809686_473784989635288_4643758209968898048_n.jpg", alt="")
    li.slideshow__item
      img(src="https://instagram.fmad8-1.fna.fbcdn.net/vp/4705818b2d9857af703d88991462aa4b/5B516E85/t51.2885-15/s1080x1080/e15/fr/24175355_1824710547818961_7567281713223565312_n.jpg", alt="")
    li.slideshow__item
      img(src="https://instagram.fmad8-1.fna.fbcdn.net/vp/fd9761d229d79373b7c633abed6fcd75/5B590D51/t51.2885-15/e35/17818478_276491362789672_1064458471233028096_n.jpg", alt="")
    li.slideshow__item
      img(src="https://instagram.fmad8-1.fna.fbcdn.net/vp/4778111bb0d7c7090b94ea2101ab0620/5B71E99B/t51.2885-15/s1080x1080/e15/fr/24126881_528742327504184_3701480954032816128_n.jpg", alt="")
    li.slideshow__item
      img(src="https://instagram.fmad8-1.fna.fbcdn.net/vp/3efa6240cd836765b272015259812532/5B707A50/t51.2885-15/e35/18298931_1661129363916010_6316745209820479488_n.jpg", alt="")
    li.slideshow__item
      img(src="https://instagram.fmad8-1.fna.fbcdn.net/vp/b54340359a18ebbd4732d2e17b501efb/5B565F21/t51.2885-15/s1080x1080/e15/fr/22857492_282699005554277_7676502607006793728_n.jpg", alt="")