div.tab-switcher__container
  div.tab-switcher__btnWrapper
    button(class="tab-switcher__btnElement" id="en-btn") ENG 
    button(class="tab-switcher__btnElement" id="es-btn") ES
    button(class="tab-switcher__btnElement" id="cat-btn") CAT
    button(class="tab-switcher__btnElement" id="it-btn") IT
    button(class="tab-switcher__btnElement" id="fr-btn") FR 
  
  p(class="course-description__text" id="en-desc")
    | This course is a dive into analogue colour photography.
    br
    br
    | A full immersion on how to develop your own colour films.
    br
    br
    | For two days you will be inspired by great examples of fine art colour photography, and you will shoot and reveal your ideas on films.
    br
    br
    |We provide one disposable 35mm colour film camera for each participant, developing tools and chemicals.
    br
    |If you already own an analogue camera and a 135 film, feel free to bring it and use it.
    br
    br
    | At the end of the workshop, you will be able to set up your "home lab" for developing your films.
    br
    br
    |The price is 60€ (all inclusive).
    br
    |The workshop will be in English and Spanish (but we welcome Italian and French).

  p(class="course-description__text" id="es-desc")
    | El curso.
  
  p(class="course-description__text" id="cat-desc")
    | El curso es independente
  
  p(class="course-description__text" id="it-desc")
    | Il corso

  p(class="course-description__text" id="fr-desc")
    | Escargot
    