.colectivo__title {
  position: relative;
  align-self: flex-end;
  text-align: right;

  &:after {
    content: '';
    @include absolute();
    background: white;
    z-index: 5;
    padding-bottom: .3em;
  }
}

.colectivo__title__h1 {
  position: relative;
  z-index: 10;
  @include mq(xlarge-s) {
    margin-right: -10rem;
  }
}