.tab-switcher__container {
  width: 100%;
  min-height: 500px;
  position: relative;
} 

.tab-switcher__description {
  &--hidden {
    visibility: hidden;
  }

  &--visible {
    visibility: visible;
    padding-top: 50px;
    animation: fadeEffect 0.75s;

    @include mq(large) {
      padding-top: 0;
    }
  }
}

.tab-switcher__btn {
  &Wrapper {
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    height: 25px;
    z-index: 5;
    
    @include mq(large) {
      position: absolute;
      transform: rotate(90deg);
      right: -160px;
      top: 60px;
    }
  }

  &Element {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    margin-right: 4px;
    transition: all ease-in-out 0.2s;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background-color: $petrol;
      color: white;
    }

    &--active {
      background-color: $petrol;
      color: white;
      font-weight: 800;
    }
  }
}

.tab-switcher__content {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
