.tab-switcher {
  position: relative;
  width: 100%;
}

.tab-switcher__description--hidden {
    display: none;
    opacity: 0;
  }

.tab-switcher__description--visible {
  display: block;
  opacity: 1;
  transition: opacity ease-in-out 0.25s;

  @include mq(large) {
    padding-top: 0;
  }
}

.tab-switcher__list {
  // display: flex;
  display: none;
  flex-direction: row;
  border-bottom: .1rem solid $light-grey;
  margin-bottom: 2rem;
  margin-top: 1rem;
  padding-bottom: .5rem;

  @include mq(large) {
    position: absolute;
    transform: rotate(90deg);
    right: -16rem;
    top: 6rem;
    margin-top: 0;
  }
}

.tab-switcher__item {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  margin-right: .4rem;
  padding: 1.2rem 1rem;
  transition: all ease-in-out 0.2s;
  font-size: 1.6rem;

  @include mq(medium) {
    font-size: 1.3rem;
  }

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    background-color: $petrol;
    color: white;
  }

  &--active {
    background-color: $petrol;
    color: white;
    font-weight: 800;
  }
}

.tab-switcher__articles-container {
  position: relative;
}