doctype html
html(lang="en" class="no-js")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
    link(rel="manifest" href="/site.webmanifest")
    link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5")
    meta(name="msapplication-TileColor" content="#da532c")
    meta(name="theme-color" content="#ffffff")
    title Colectivo-forma

    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-114309157-1")
    script
      |window.dataLayer = window.dataLayer || [];
      |function gtag(){dataLayer.push(arguments);}
      |gtag('js', new Date());

      |gtag('config', 'UA-114309157-1');

    script.
      document.documentElement.classList.remove("no-js")
      document.documentElement.classList.add("js")
  body
    include includes/vars.pug
    include includes/mixins.pug

    div.container.flex.js-container
      header.header.colectivo__title
        h1.headline.colectivo__title__h1
          |colectivo-
          br
          |forma
      section.course-description
        h2.course-description__title.
          Revelaciones - Taller de revelado a color
        include includes/tab-switcher.pug
      div.cta-wrapper
        a.cta.js-hover(href="https://www.eventbrite.es/e/entradas-revelaciones-taller-de-revelado-a-color-43217405423" target="_blank")
          span.cta__text I sign up!
        div.cta__square.js-bg

      ul.coords__list
        li.coords__item
          |24-25
          br
          |March
          br
          |2018

        li.coords__item
          a(href="https://www.google.es/maps/place/MADE+Makerspace/@41.3730516,2.1390873,17z/data=!3m1!4b1!4m5!3m4!1s0x12a4a2e4dc2b5ebd:0x1de1dbcc11d6cda9!8m2!3d41.3730516!4d2.141276" target="_blank").
            @Made


      //- +svg("circle", "100", "100")

      //- +svg("square")

      //- include includes/footer.pug